.layerscontrol {
  position: fixed;
  bottom: 0;
  width: 300px;
  background: #E0E0E0;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;

  .layerscontrol__label {
    font-weight: 500;
    display: inline-block;
  }

  .layerscontrol__button {
    display: inline-block;
    margin-left: 20px;
  }
}
