.layers {
  ul {
    display: block;
  }

  li {
    position: relative;
    line-height: 45px;
    padding: 0 20px 0 40px;
    list-style: none;

    &:before {
      position: absolute;
      content: '';
      top: 18px;
      margin-left: -20px;
      background-size: contain;
      background-position: left center;
      width: 10px;
      height: 10px;
    }

    &:hover {
      background: #E0E0E0;
    }

    span {
      display: inline-block;
      width: 100%;
      height: 45px;
    }

    ul {
      display: none;
      padding-left: 0;
      margin-left: 0;

      li {
        padding: 0 0 0 20px;

        &:after {
          right: 0 !important;
        }
      }
    }
  }

  .group {
    &:before {
      background: url('../img/layertype.svg') no-repeat;
      background-position: left center;
    }

    &:after {
      position: absolute;
      content: '';
      top: 18px;
      right: 20px;
      background: url('../img/arrow.svg') no-repeat;
      background-position: left center;
      background-size: contain;
      background-position: left center;
      width: 8px;
      height: 8px;
    }

    &.open {
      &:after {
        transform: rotate(90deg);
        right: 22px
      }

      > ul {
        display: block;
      }
    }
  }

  .layer {
    &:before {
      background: url('../img/layertype.svg') no-repeat;
      background-position: left center;
    }
  }
}
