.header {
  display: flex;
  height: $d_header_height;

  background: $c_header_background;
  background-image: linear-gradient(-180deg, #{$c_header_gradient1} 0%, #{$c_header_gradient2} 100%);

  border-bottom: 1px solid #494949;

  padding: 0 $d_interface_padding;

  align-items: center;
  justify-content: center;

  color: $c_white;

  .header__logo {
    flex: 1;

    h1 {
      @include fontsize(p);
    }
  }

  .header__filename {
    flex: 1;
    text-align: center;
  }

  .header__actions {
    flex: 1;
    text-align: right;

    .button {
      margin-left: $d_element_padding;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
