.sidebar  {
  flex: 0 0 300px;
  position: relative;
  background: #323232;
  height: calc(100vh - 70px);
  overflow: hidden;

  .sidebar__scroll {
    overflow: hidden;
    padding-bottom: 20px;
  }

  .sidebar__title {
    background: #4C4C4C;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    font-weight: 500;
  }

  .sidebar__group {
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.sidebar-left {
  border-right: 1px solid #494949;
}

.sidebar-right {
  border-left: 1px solid #494949;
}
