.button {
  display: inline-block;
  background: none;
  color: $c_white;
  padding: 7px 20px;
  text-align: center;
  border: 1px solid #868686;
  border-radius: 3px;
  font-weight: 500;
  text-decoration: none;
  line-height: 1;
}
